

$color-primary: #021239c6;
$color-secondary: #7099ff;
$color-white: white;
$color-light-yellow: rgb(205, 205, 173);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: $color-primary;
    font-size: 30px;
  }

  a:link,
  a:visited {
      text-decoration: none;
  }
