
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 80px;
    display: block;
    font-weight: bolder;
    margin-right: 15px;
}

.button1 {
    font-weight: bold;
    border: 2px solid $color-primary;
    padding: 15px 35px;
    border-radius: 10px;
}

#img1 {
    margin: 40px 0 40px 0;
    width: 500px;

}

h1, h2, h3, h4, .button2 {
    margin: 40px;
    text-align: center;
}

h1, h3 {
    color: $color-secondary;
}

h4 {
    font-weight: lighter;
    font-size: 30px;
}


.button2 {
    background-color: $color-primary;
    color: $color-white;
    padding: 20px 70px;
    border-radius: 10px;
}

.advice {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4, span {
        text-align: left;
        font-size: 30px;
        width:fit-content;
    }

    h4 {
        margin-left: 10px;
        margin-right: 10px;
    }

    span {
        font-weight: bold;
    }
    
    #italic {
        font-style: italic;
        font-weight: lighter;
        
    }

    img {
        align-items: center;
        justify-content: center;
        height: 200px;

    }
}

footer {
    a {
        padding: 15px;
    }
}

